<?xml version="1.0"?>
<launch>
  <arg name="env" default="sim"/>
  <arg name="urdf" default="mara_robot"/>
  <arg name="multiple_robots" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mara_description)/urdf/$(arg urdf).urdf.xacro'" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <node pkg="mara_bringup" type="follow_joints_trajectory_actions.py" name="follow_joints_individual_trajectory" args="$(find mara_bringup)/config/motors.yaml $(arg env)"/>

  <group if="$(arg multiple_robots)">
    <include file="$(find mara2_moveit_config)/launch/mara_moveit_planning_execution.launch"/>
    <include file="$(find mara2_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" default="true"/>
    </include>
  </group>
  <group unless="$(arg multiple_robots)">
    <include file="$(find mara_moveit_config)/launch/mara_moveit_planning_execution.launch"/>
    <include file="$(find mara_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" default="true"/>
    </include>
  </group>


</launch>
